body {
  background-color: dimgray;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/ce/M82_HST_ACS_2006-14-a-large_web.jpg);
}

#main-header {
  color: white;
}

input {
  text-align: center;
  display: flex;
  width: 100%;
}

#main-header {
  text-align: center;
}

@media (min-width: 768px) {
  .container-1 {
    display: flex;
    flex-wrap: wrap;
  }
}
.container-1 div {
  border: 1px #ccc solid;
  padding: 1em;
}

/* Card Styling */

.box-1 {
  background-color: white;
  flex: 1;
}

.box-2 {
  background-color: white;
  flex: 1;
  text-align: center;
}

img {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

#bigPic {
  height: auto;
  width: 70%;
  margin: 0 auto;
}

button {
 float:right;
 justify-content: right;
}